.cssgrid {
    display: grid;
    max-width: 1200px;
    min-width: 220px;
    position: relative;
    margin: auto;
    gap: 5px;
    grid-template-areas: "snav snav cnav cnav cnav pnav pnav"
                         "fimage fimage logo logo logo simage simage"
                         "about about about about about about about"
                         "pimage pimage pimage ptext ptext ptext ptext"
                         "skills skills skills skills skills skills skills"
                         "contact contact contact contact cimage cimage cimage";
    grid-template-rows: 100px 250px 400px 400px 250px 250px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
}

.snav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cnav {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.pnav {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.fimage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.logo {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.simage {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}

.about {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}

.pimage {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.ptext {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
}

.skills {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
}

.contact {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

.cimage {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 7;
}