
.cssgrid {
    display: grid;
    max-width: 1200px;
    min-width: 220px;
    position: relative;
    margin: auto;
    gap: 1px;
    grid-template-areas: "snav snav cnav cnav cnav pnav pnav"
                         "fimage fimage logo logo logo simage simage"
                         "about about about about about about about"
                         "pimage pimage pimage ptext ptext ptext ptext"
                         "skills skills skills skills skills skills skills"
                         "contact contact contact contact cimage cimage cimage";
    grid-template-rows: 100px 200px 200px 150px 50px/*150px 150px*/;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
}

 
  footer {
    grid-row: 6;
  }

a {
    text-decoration: none;
}

h2 {
    font-family: 'Hubballi', sans-serif;
    color: darkslategrey;
    font-size: 24px;
    font-weight: lighter;
}

h2:hover {
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

h3 {
    font-family: 'Hubballi', sans-serif;
    color: darkslategrey;
    font-size: 20px;
    font-weight:bolder ;
}

p {
    font-family: 'Hubballi', sans-serif;
    color: grey;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
}

li {
    font-family: 'Hubballi', sans-serif;
    color: grey;
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
}
.snav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: right;
}

.cnav {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
}

.pnav {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: left;
}

.fimage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.logo {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;


}

.simage {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.about {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}

.ptext {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.pimage {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    
}

h3.pimage {
    flex-direction: row;
    align-items: flex-start;
    max-height: 1fr;
       
}

img.pimage {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 4fr;

}

footer {
    font-family: 'Hubballi', sans-serif;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/*.skills {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
}

.contact {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

.cimage {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 6;
}*/